// Fonts

$font-size: 13px;
$font-family: "Barlow Semi Condensed", sans-serif;

// Text Colors

$light-grey: #ecf2f8;
$grad-opacity: 50%;
$text-opacity: 70%;

// Primary

$violet: #7541c8;
$grey: #48556a;
$black: #19212e;
$white: #fff;
